{% extends 'layout/master.twig' %}
{% block head %}
{% endblock head %}

{% block content %}
    <div class="container appContent">
    </div>

{% endblock content %}

{% block scripts %}
{% endblock scripts %}

